<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto d-flex justify-content-center align-items-center mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/chat">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Carrito</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <th scope="row" class="border-bottom-0">
                  <div class="d-flex align-items-center">
                    <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" class="img-fluid rounded-3"
                      style="width: 120px;" alt="Book">
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{this.title}}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle border-bottom-0">
                  <p class="mb-0" style="font-weight: 500;">{{this.description}}</p>
                </td>
                <td class="align-middle border-bottom-0">
                  <div class="d-flex flex-row">
                  {{this.quantity}}
                    </button>
                  </div>
                </td>
                <td class="align-middle border-bottom-0">
                  <p class="mb-0" style="font-weight: 500;">{{this.price}}</p>
                </td>
                <td class="align-middle border-bottom-0">
                <button class="deleteButton" type="submit" onclick="getPID({{this.id}})"><img class="tachito" src="https://img.freepik.com/vector-premium/eliminar-icono-boton-rojo-ilustracion-simbolo-bote-basura_692379-615.jpg?w=2000"></button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
</section>

  <div class="text-center text-white p-3" style="background-color: blue;">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>

<style>
  .tachito {
    width: 40px;
  }
  .deleteButton {
    background-color: none;
    padding: 0px;
  }
</style>
<script>
let pid = 1
function getPID(id) {
  pid = id
}
  const deleteButtons = document.getElementsByClassName('deleteButton');
  for (let i = 0; i < deleteButtons.length; i++) {
    deleteButtons[i].addEventListener('click', async function(event) {
      event.preventDefault(); // Evita el envío del formulario

      try {
        const response = await fetch(`/api/cart/1/products/${pid}`, {
          method: 'DELETE',
        });

        if (response.ok) {
          const data = await response.json();
        } else {
          console.log('Error al eliminar el producto');
        }
      } catch (error) {
        console.log('Error en la solicitud DELETE:', error);
      }
    });
  }
</script>
</script>