<section>
  <div class="row">
    <div class="col-md-12 d-grid justify-content-center my-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre del producto" aria-label="Nombre del producto"
          aria-describedby="buscar-btn" id="input-search">
        <button class="btn btn-primary" type="button" id="buscar-btn">Buscar</button>
      </div>
    </div>
  </div>
  <div class="row body">
    {{#each data}}
    <div class="card col-md-4 my-3 mb-5 mx-5" style="width: 14rem;">
      {{#ifEquals stock 0}}
      <h5 class="d-flex justify-content-center" style="color: red;">Out of stock</h4>
      {{/ifEquals}}
      <img
        src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/products/{{_id}}" class="btn" style="background-color: #83b674; color: white;">Ver más
          información</a>
      </div>
    </div>
    {{/each}}

  </div>
  <div class="d-flex justify-content-center mb-3">
    {{#each totalPages}}
    <a href="/products?page={{this}}" class="boton me-2">
      {{this}}
    </a>
    {{/each}}
  </div>
</section>
<style type="text/css">
  .carrito {
    height: 3.4vh;
  }
  .numero {
    background-color: black;
    border-radius: 100%;
    padding: 6px;
    font-size: 14px;
  }

  .boton {
    background-color: #83b674;
    color: white;
    text-decoration: none;
    padding: 4px;
    font-size: 25px;
    border: solid 1px white;
  }

  .btn {
    background-color: #83b674;
    border: solid 0px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
</style>